<div class="row"><div class="col-sm-12"><div class="cl-sm-12">
	<form class="form-inline" role="form">
		<div class="form-group pull-right">
			<select class="form-control"
				ng-options="option.name for option in dimensions track by option.id"
				ng-model="dimension"></select>
		</div>
	</form>
</div></div></div>
<hr />

<div ng-if="loading" class="portlet light">
	<div class="portlet-body text-center text-info">
		[ Ачаалж байна... ]
	</div>
</div>

<div class="portlet light bordered" ng-show="!loading">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase">Сэтгүүлүүд</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-primary" ng-click="add()">
                <i class="fa fa-plus"></i> Бүртгэх
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Нэр </th>
                    <th> Тайлбар </th>
                    <th> Цар хүрээ </th>
                    <th style="width: 200px"> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="root in roots" ng-if="dimension.id == 0 || dimension.id==root.dimension_id">
                    <td> {{$index + 1}} </td>
                    <td> <a ui-sref="btime.admin.journal({id: root.id})">{{root.name}}</a> </td>
                    <td> {{root.description}} </td>
                    <td> {{get_dimension_name(root.dimension_id)}}</td>
                    <td style="width: 200px">
                        <a class="label label-sm label-danger" ng-click="del(root.id)"><i class="fa fa-trash"></i> Устгах</a>
                        <a class="label label-sm label-success" ng-click="edit(root.id)"><i class="fa fa-edit"></i> Засах</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="manageRootContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.id ? 'Сэтгүүл засах' : 'Сэтгүүл нэмэх'}}</h3>
	</div>
	<div class="modal-body">
		<form name="form" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<label for="name">Сэтгүүлийн нэр</label>
					<input name="name" ng-model="data.name" type="text" class="form-control" placeholder="" required>
					<span class="help-block help-block-error text-danger" ng-show="form.name.$dirty && form.name.$invalid">Энэ талбар хоосон байж болохгүй!</span>
				</div>

				<div class="form-group">
					<label for="dimension">Цар хүрээ</label>
					<select class="form-control"
						ng-options="option.name for option in dimensions track by option.id"
						ng-model="dimension"></select>
				</div>

				<div class="form-group">
					<label for="description">Сэтгүүлийн тайлбар</label>
					<textarea name="description" ng-model="data.description" class="form-control" rows="5"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="form.$invalid" class="btn btn-primary" type="button" ng-click="ok()">Хадгалах</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>