﻿<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 4.0.2
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="ResearchApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="ResearchApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="ResearchApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title data-ng-bind="'Metronic AngularJS | ' + $state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/toaster/toaster.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <script type="text/javascript">
        var appBaseUrl = '@Url.Content("~/")' + "static/app";
        var apiBaseUrl = '@Url.Content("~/")' + "api";
        var serverUrl = '@Url.Content("~/")';
    </script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body ng-controller="AppController" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo page-on-load" ng-class="{'page-sidebar-closed': settings.layout.pageSidebarClosed}">
    <!-- BEGIN PAGE SPINNER -->
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- END PAGE SPINNER -->
    <!-- BEGIN HEADER -->
    <div data-ng-include="'/static/app/tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top">
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div data-ng-include="'/static/app/tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper">
        </div>
        <!-- END SIDEBAR -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN PAGE HEAD -->
                <div data-ng-include="'/static/app/tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head">
                </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN ACTUAL CONTENT -->
                <div ui-view class="fade-in-up">
                    @RenderBody()
                </div>
                <!-- END ACTUAL CONTENT -->
            </div>
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div data-ng-include="'/static/app/tpl/footer.html'" data-ng-controller="FooterController" class="page-footer">
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE JQUERY PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <script src="/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE JQUERY PLUGINS -->
    <!-- BEGIN CORE ANGULARJS PLUGINS -->
    <script src="/assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/toaster/toaster.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/angucomplete-alt/angucomplete-alt.js"></script>

    <script src="~/Areas/BTime/static/module/lib/amcharts/amcharts.js"></script>
    <script src="~/Areas/BTime/static/module/lib/amcharts/pie.js"></script>
    <script src="~/Areas/BTime/static/module/lib/amcharts/themes/light.js"></script>
    <script src="~/Areas/BTime/static/module/lib/amcharts/plugins/export/export.js"></script>
    <link href="~/Areas/BTime/static/module/lib/amcharts/plugins/export/export.css" type="text/css" rel="stylesheet">
    <script src="~/Areas/BTime/static/module/lib/amcharts/plugins/export/examples/export.config.default.js"></script>

    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    
    <!--script src="~/Areas/BTime/static/module/lib/select2/select2.min.js"></!--script>
    <script src="~/Areas/BTime/static/module/lib/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Areas/BTime/static/module/lib/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/Areas/BTime/static/module/lib/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
    <script src="~/Areas/BTime/static/module/lib/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Areas/BTime/static/module/lib/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script-->

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

    <!-- END CORE ANGULARJS PLUGINS -->
    <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
    <script src="~/static/app/js/app.js" type="text/javascript"></script>
    <script src="~/static/app/js/directives.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/angularjs/angular-cookies.min.js" type="text/javascript"></script>

    <script src="~/Areas/ProjectManagement/static/module/js/module.js" type="text/javascript"></script>
    <script src="~/Areas/BTime/static/module/js/module.js" type="text/javascript"></script>
    <script src="~/Areas/Auth/static/module/js/module.js" type="text/javascript"></script>
    <!-- END APP LEVEL ANGULARJS SCRIPTS -->
    <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
    <script src="/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="/assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
    <script src="/assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>
    <!-- END APP LEVEL JQUERY SCRIPTS -->
    <script type="text/javascript">
		/* Init Metronic's core jquery plugins and layout scripts */
		$(document).ready(function() {
			Metronic.init(); // Run metronic theme
			Metronic.setAssetsPath('assets/'); // Set the assets folder path
		});
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>