﻿<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
<div ui-view ></div>

<script type="text/ng-template" id="confirmContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.title}}</h3>
	</div>
	<div class="modal-body">
		{{data.body}}
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" type="button" ng-click="ok()">Тийм</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Үгүй</button>
	</div>
</script>