﻿<ul ng-if="breads" class="page-breadcrumb breadcrumb">
	<li ng-repeat="bread in breads">
		<a href="{{bread.url}}">{{bread.name}}</a> <span ng-if="!$last">/&nbsp</span>
	</li>
</ul>
	
<div ng-if="note && note.body != '' " class="note note-bordered">
	<h4>{{note.title}}<span class="close" data-close="note"></span></h4>
	<p>
		{{note.body}}
	</p>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-terminal font-green-sharp"></i>
					<span class="caption-subject"> {{data.number}}</span>
					<span class="caption-helper">{{data.title}}</span>
				</div>
				<div ng-if="can()" class="actions">
					<div class="btn-group">
						<a class="btn btn-circle btn-default " href="javascript:;" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-user"></i> Удирдах <i class="fa fa-angle-down"></i> </a>
						<ul class="dropdown-menu pull-right">

							<li ng-if="status.has_form==0 && canThis()">
								<a ng-click="add()" href="javascript:;">
								<i class="fa fa-plus"></i> Шинэ бүлэг нэмэх </a>
							</li>

							<li ng-if="data.type=='leaf' && canThis()">
								<a ng-click="addForm()" href="javascript:;">
								<i class="fa fa-plus"></i> Шинэ форм нэмэх </a>
							</li>

							<li ng-if="canThis()">
								<a ng-click="edit()" href="javascript:;">
								<i class="fa fa-pencil"></i> Бүлэг засах </a>
							</li>
							
							<li ng-if="status.has_form==1 && canThis()">
								<a ng-click="editForm()" href="javascript:;">
								<i class="fa fa-pencil"></i> Форм засах </a>
							</li>

							<li ng-if="data.type != 'root' && canThis()">
								<a ng-click="del()" href="javascript:;">
								<i class="fa fa-trash-o"></i> Устгах </a>
							</li>

							<!--<li class="divider"></li> -->
							
						</ul>
					</div>
					
					<a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen" data-original-title="" title=""></a>
				</div>
			</div>
			<div class="portlet-body" ng-if="!status.has_form">
				<div ng-repeat="item in child">
					<h3><a ui-sref="btime.group({id: item.id})">{{item.number}} {{item.title}}</a></h3>
					<p>{{item.description}}</p>
				</div>
			</div>
			<div class="portlet-body form" ng-if="status.has_form">
				<form class="form-horizontal" novalidate>
					<div class="form-actions top">
						<h3>{{form.title}}</h3>
						<p>{{form.description}}</p>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div class="col-md-6 col-lg-6 col-sm-6 pull-right">
							<div class="row">
							<div class="col-sm-6">
								<span>
									<angucomplete-alt id="users"
									  placeholder="Хайх"
									  pause="400"
									  remote-url="{{serverUrl}}/api/btimeuser/get?s="
									  remote-url-data-field="res"
									  title-field="firstname,lastname"
									  description-field="username"
									  minlength="2"
									  selected-object="selectUser"
									  match-class="text-danger"
									  clear-selected="true"
									  input-class="form-control input-sm input-circle"></angucomplete-alt>
								</span>
							</div>
							<div class="col-sm-6">
								<button ng-click="addExternalUser()" class="pull-right btn btn-default input-sm input-circle">Бүртгэлгүй гишүүн</button>
							</div>
							</div>
							</div>
						</div>
						<hr/>
						<div class="form-group tiles">
							<div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="user in users">
								<div class="tile double selected bg-blue-madison">
									<div class="corner"></div>
									<div class="col-sm-12">
										<i class="fa fa-times pull-right" style="margin-right: -13px; margin-top: 2px;" ng-click="removeUser(user.id)"></i>
									</div>
									<div class="tile-body">
										<img src="../../assets/admin/pages/media/profile/photo1.jpg" alt="">
										<h4>{{user.firstname}}</h4>
										<h5>{{user.lastname}}</h5>
										<small>
											{{user.type}}
										</small>
									</div>
									<div class="tile-object">
										<div class="name">
											SISi
										</div>
										<div class="number">
											@{{user.username}}
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="user in external_users">
								<div class="tile double selected bg-yellow-saffron">
									<div class="corner"></div>
									<div class="col-sm-12">
										<i class="fa fa-times pull-right" style="margin-right: -13px; margin-top: 2px;" ng-click="removeExternalUser(user.id)"></i>
									</div>
									<div class="tile-body">
										<img src="../../assets/admin/pages/media/profile/photo2.jpg" alt="">
										<h4>{{user.firstname}}</h4>
										<h5>{{user.lastname}}</h5>
										<small>
											{{user.degree == 0 ? 'Порф' : (user.degree == 1 ? 'Док' : 'Маг')}}
										</small>
									</div>
								</div>
							</div>
						</div>

						<hr ng-if="users && users.length > 0"/>

						<div class="form-group" ng-repeat="elem in form.elements">
							<label class="col-md-3 control-label">{{elem.label}}</label>
							<div class="col-md-6">
								<span ng-if="elem.type=='search' && elem.static_type=='1'">
									<angucomplete-alt id="journal"
									  placeholder="Хайх"
									  pause="400"
									  remote-url="{{serverUrl}}/api/journal/find?v="
									  remote-url-data-field="res"
									  title-field="name"
									  description-field="date"
									  minlength="2"
									  selected-object="selectJournal"
									  match-class="text-danger"
									  input-class="form-control"/>
								</span>
								<span ng-if="elem.type=='search' && elem.static_type=='2'">
									<angucomplete-alt ng-if="elem.static_type=='2'" id="conference"
									  placeholder="Хайх"
									  pause="400"
									  remote-url="{{serverUrl}}/api/conference/find?v="
									  remote-url-data-field="res"
									  title-field="name"
									  description-field="date"
									  minlength="2"
									  selected-object="selectConference"
									  match-class="text-danger"
									  input-class="form-control"/>
								</span>
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'text'" type="text" class="form-control" placeholder="">
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'number'" type="number" class="form-control" placeholder="">
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'file'" type="file" class="form-control" placeholder="">
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'date'" class="form-control form-control-inline" type="date" value=""/>
								
								<select ng-repeat="sel in selections" ng-if="sel.id == elem.selection_id && elem.type == 'select'" ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" class="form-control">
									<option ng-repeat="opt in sel.options" value="{{opt.id}}">{{opt.name}}</option>									
								</select>
								
								<textarea ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'textarea'" type="text" class="form-control" placeholder=""></textarea>
								
								<span class="help-block"> {{elem.description}} </span>
								<span ng-repeat="error in elem.errors" class="help-block text-danger">{{error}}</span>
							</div>
						</div>

						<div class="form-group last">
							<label class="col-md-3 control-label">Судалгааны төрөл</label>
							<div class="col-md-6">
								<select class="form-control" id="research_type">
									<option ng-repeat="type in research_types" value="{{type.id}}">
										{{type.name}}
									</option>
								</select>
								<span ng-repeat="error in research_type_errors" class="help-block text-danger">{{error}}</span>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button ng-click="submit()" type="button" class="btn btn-circle blue">Илгээх</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="manageGroupContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.id ? 'Бүлэг засах' : 'Бүлэг нэмэх'}}</h3>
	</div>
	<div class="modal-body">
		<form name="groupManageForm" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<label for="number">Бүлгийн дугаар</label>
					<input name="number" ng-model="data.number" type="text" class="form-control" placeholder="" required>
					<span class="help-block help-block-error text-danger" ng-show="groupManageForm.number.$dirty && groupManageForm.number.$invalid">Энэ талбар хоосон байж болохгүй!</span>
				</div>

				<div class="form-group">
					<label for="title">Бүлгийн нэр</label>
					<input name="title" ng-model="data.title" type="text" class="form-control" placeholder="" required>
					<span class="help-block help-block-error text-danger" ng-show="groupManageForm.title.$dirty && groupManageForm.title.$invalid">Энэ талбар хоосон байж болохгүй!</span>
				</div>

				<div class="form-group">
					<label for="description">Бүлгийн тайлбар</label>
					<textarea name="description" ng-model="data.description" class="form-control" rows="5"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="groupManageForm.$invalid" class="btn btn-primary" type="button" ng-click="ok()">Хадгалах</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>

<script type="text/ng-template" id="addExternalUserContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.id ? 'Бүлэг засах' : 'Бүлэг нэмэх'}}</h3>
	</div>
	<div class="modal-body">
		<form name="addExternalUserForm" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<label for="firstname">Нэр</label>
					<input name="firstname" ng-model="data.firstname" type="text" class="form-control" placeholder="" required>
					<span class="help-block help-block-error text-danger" ng-show="addExternalUserForm.firstname.$dirty && addExternalUserForm.firstname.$invalid">Энэ талбар хоосон байж болохгүй!</span>
				</div>

				<div class="form-group">
					<label for="lastname">Овог</label>
					<input name="lastname" ng-model="data.lastname" type="text" class="form-control" placeholder="" required>
					<span class="help-block help-block-error text-danger" ng-show="addExternalUserForm.lastname.$dirty && addExternalUserForm.lastname.$invalid">Энэ талбар хоосон байж болохгүй!</span>
				</div>

				<div class="form-group">
					<label for="degree">Зэрэг</label>
					<select name="degree" class="form-control" ng-model="data.degree">
						<option value="0">Проф</option>
						<option value="1">Док</option>
						<option value="2">Маг</option>
					</select>
				</div>

				<div class="form-group">
					<label for="institute">Байгууллага</label>
					<textarea name="institute" ng-model="data.institute" class="form-control"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="addExternalUserForm.$invalid" class="btn btn-primary" type="button" ng-click="ok()">Хадгалах</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>
