<div ng-if="loading" class="portlet light">
	<div class="portlet-body text-center text-info">
		[ Ачаалж байна... ]
	</div>
</div>

<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-green-sharp">
			<i class="icon-speech font-green-sharp"></i>
			<span class="caption-subject"> Шүүлтүүр</span>
		</div>
	</div>
	<div class="portlet-body">
		<table class="table table-hover">
            <tbody>
                <tr>
                    <th style="border-top: 0"> Сургуулиар </th>
                    <td style="border-top: 0"> {{ filter.school_id == -1 ? 'Бүгд' : school_map[filter.school_id].name}} </td>
                    <td style="border-top: 0">
                    	<a ng-if="filter.school_id != -1" ng-click="remove_filter('school')" class="label label-danger pull-right">
                    		<i class="fa fa-remove"></i> Устгах
                    	</a>
                    	<a style="margin-right: 5px;" ng-click="add_filter('school')" class="label label-primary pull-right">
                    		<i class="fa fa-plus"></i> {{ filter.school_id == -1 ? 'Шүүх' : 'Өөрчлөх' }}
                    	</a>
                    </td>
                </tr>

                <tr>
                    <th style="border-top: 0"> Тэнхимээр </th>
                    <td style="border-top: 0"> {{ filter.faculty_id == -1 ? 'Бүгд' : faculty_map[filter.faculty_id].name}} </td>
                    <td style="border-top: 0">
                    	<a ng-if="filter.faculty_id != -1" ng-click="remove_filter('faculty')" class="label label-danger pull-right">
                    		<i class="fa fa-remove"></i> Устгах
                    	</a>
                    	<a style="margin-right: 5px;" ng-click="add_filter('faculty')" class="label label-primary pull-right">
                    		<i class="fa fa-plus"></i> {{ filter.faculty_id == -1 ? 'Шүүх' : 'Өөрчлөх' }}
                    	</a>
                    </td>
                </tr>

                <tr>
                    <th style="border-top: 0"> Бүлгээр </th>
                    <td style="border-top: 0"> {{ filter.group_id == -1 ? 'Бүгд' : group_map[filter.group_id].name}} </td>
                    <td style="border-top: 0">
                    	<a ng-if="filter.group_id != -1" ng-click="remove_filter('group')" class="label label-danger pull-right">
                    		<i class="fa fa-remove"></i> Устгах
                    	</a>
                    	<a style="margin-right: 5px;" ng-click="add_filter('group')" class="label label-primary pull-right">
                    		<i class="fa fa-plus"></i> {{ filter.group_id == -1 ? 'Шүүх' : 'Өөрчлөх' }}
                    	</a>
                    </td>
                </tr>

                <tr>
                    <th style="border-top: 0"> Цар хүрээгээр </th>
                    <td style="border-top: 0"> {{ filter.dimension_id == -1 ? 'Бүгд' : dimension_map[filter.dimension_id].name}} </td>
                    <td style="border-top: 0">
                    	<a ng-if="filter.dimension_id != -1" ng-click="remove_filter('dimension')" class="label label-danger pull-right">
                    		<i class="fa fa-remove"></i> Устгах
                    	</a>
                    	<a style="margin-right: 5px;" ng-click="add_filter('dimension')" class="label label-primary pull-right">
                    		<i class="fa fa-plus"></i> {{ filter.dimension_id == -1 ? 'Шүүх' : 'Өөрчлөх' }}
                    	</a>
                    </td>
                </tr>

                <tr>
                    <th style="border-top: 0"> Судалгааны төрлөөр </th>
                    <td style="border-top: 0"> {{ filter.research_type_id == -1 ? 'Бүгд' : research_type_map[filter.research_type_id].name}} </td>
                    <td style="border-top: 0">
                    	<a ng-if="filter.research_type_id != -1" ng-click="remove_filter('research_type')" class="label label-danger pull-right">
                    		<i class="fa fa-remove"></i> Устгах
                    	</a>
                    	<a style="margin-right: 5px;" ng-click="add_filter('research_type')" class="label label-primary pull-right">
                    		<i class="fa fa-plus"></i> {{ filter.research_type_id == -1 ? 'Шүүх' : 'Өөрчлөх' }}
                    	</a>
                    </td>
                </tr>

                <tr>
                    <th style="border-top: 0"> Бүтээлийн ангиллаар </th>
                    <td style="border-top: 0"> {{ filter.form_type_id == -1 ? 'Бүгд' : form_type_map[filter.form_type_id]}} </td>
                    <td style="border-top: 0">
                    	<a ng-if="filter.form_type_id != -1" ng-click="remove_filter('form_type')" class="label label-danger pull-right">
                    		<i class="fa fa-remove"></i> Устгах
                    	</a>
                    	<a style="margin-right: 5px;" ng-click="add_filter('form_type')" class="label label-primary pull-right">
                    		<i class="fa fa-plus"></i> {{ filter.form_type_id == -1 ? 'Шүүх' : 'Өөрчлөх' }}
                    	</a>
                    </td>
                </tr>
            </tbody>
        </table>
	</div>
</div>

<my-table data="table" id="'main_report'" template="report"></my-table>

<script type="text/ng-template" id="addFilterContent.html">
	<div class="modal-header">
		<h3 class="modal-title">Судалгааны ажлийг тооцуулах</h3>
	</div>
	<div class="modal-body">
		<form name="from" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<select class="form-control"
						ng-options="option.name for option in data track by option.id"
						ng-model="selected"></select>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">Шүүх</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>