<div class="row"><div class="col-sm-12"><div class="cl-sm-12">
	<form class="form-inline" role="form">
		<div class="form-group pull-right">
			<select class="form-control"
				ng-options="option.name for option in status_list track by option.id"
				ng-model="status" ng-change="refresh()"></select>
		</div>

		<div class="form-group pull-right">
			<select class="form-control"
				ng-options="option.name for option in research_types track by option.id"
				ng-model="research_type" ng-change="refresh()"></select>
		</div>
	</form>
</div></div></div>
<hr />

<div ng-if="!loading && (!researches || researches.length == 0)" class="portlet light">
	<div class="portlet-body text-center text-info">
		[ Үр дүн олдсонгүй ]
	</div>
</div>

<div ng-if="loading" class="portlet light">
	<div class="portlet-body text-center text-info">
		[ Ачаалж байна... ]
	</div>
</div>


<div class="portlet light" ng-repeat="research in researches">
	<div class="portlet-title">
		<div class="caption font-green-sharp">
			<i class="icon-speech font-green-sharp"></i>
			<span class="caption-subject"> {{research.group_number}}</span>
			<span class="caption-helper"> {{research.group_name}}</span>
		</div>
		<div class="actions">
			<div class="btn-group">
				<span class="label label-primary" ng-repeat="d in dimensions" ng-if="research.dimension_id==d.id">
				<i class="fa fa-square-o"></i> {{d.name}}</i>
				</span> &nbsp
				<span ng-if="research.status=='pending'" class="label label-warning">
				<i class="fa fa-eye"></i> Хүлээгдэж буй</i>
				</span>
				<span ng-if="research.status=='accepted'" class="label label-success">
				<i class="fa fa-check"></i> Батлагдсан</i>
				</span>
				<span ng-if="research.status=='canceled'" class="label label-danger">
				<i class="fa fa-exclamation"></i> Цуцлагдсан</i>
				</span>
			</div>
			<a ui-sref="btime.admin.research({id: research.research_id})" class="btn btn-circle btn-default ">
			<i class="fa fa-share-square-o"></i> Дэлгэрэнгүй </a>
			</a>
			<a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen" data-original-title="" title=""></a>
		</div>
	</div>
	<div class="portlet-body">
		<p class="well" ng-bind-html="render_view(research.id)"></p>
	</div>
</div>

<div>
	<ul class="pagination pagination-sm pull-right">
		<li>
			<a ui-sref="btime.admin.researches({page: 1, type: research_type.id, status: status.id})">
			<i class="fa fa-angle-double-left"></i>
			</a>
		</li>

		<li>
			<a ui-sref="btime.admin.researches({page: page-1 < 1 ? 1 : page-1, type: research_type.id, status: status.id})">
			<i class="fa fa-angle-left"></i>
			</a>
		</li>

		<li ng-repeat="i in pages">
			<a ng-if="page==i" ui-sref="btime.admin.researches({page: i, type: research_type.id, status: status.id})"><strong>{{i}}</strong></a>
			<a ng-if="page!=i" ui-sref="btime.admin.researches({page: i, type: research_type.id, status: status.id})">{{i}}</a>
		</li>

		<li>
			<a ui-sref="btime.admin.researches({page: page+1 > count ? count : page+1, type: research_type.id, status: status.id})">
			<i class="fa fa-angle-right"></i>
			</a>
		</li>
		
		<li>
			<a ui-sref="btime.admin.researches({page: count, type: research_type.id, status: status.id})">
			<i class="fa fa-angle-double-right"></i>
			</a>
		</li>
	</ul>
</div>