<div ng-if="!loading && !research" class="portlet light">
	<div class="portlet-body text-center text-info">
		[ Үр дүн олдсонгүй ]
	</div>
</div>

<div ng-if="loading" class="portlet light">
	<div class="portlet-body text-center text-info">
		[ Ачаалж байна... ]
	</div>
</div>

<div class="portlet light" ng-show="!loading && research">
	<div class="portlet-title">
		<div class="caption font-green-sharp">
			<i class="icon-speech font-green-sharp"></i>
			<span class="caption-subject"> {{research.group_number}}</span>
			<span class="caption-helper"> {{research.group_name}}</span>
		</div>
		<div class="actions">
			<div class="btn-group">
				<span class="label label-primary" ng-repeat="d in dimensions" ng-if="research.dimension_id==d.id">
				<i class="fa fa-square-o"></i> {{d.name}}</i>
				</span> &nbsp
				<span ng-if="research.status=='pending'" class="label label-warning">
				<i class="fa fa-eye"></i> Хүлээгдэж буй</i>
				</span>
				<span ng-if="research.status=='accepted'" class="label label-success">
				<i class="fa fa-check"></i> Батлагдсан</i>
				</span>
				<span ng-if="research.status=='canceled'" class="label label-danger">
				<i class="fa fa-exclamation"></i> Цуцлагдсан</i>
				</span>
			</div>

			<a ng-click="cancel()" ng-if="research.status=='pending'" class="btn btn-circle btn-danger ">
				<i class="fa fa-exclamation"></i> Цуцлах </a>
			</a>
			
			<a ng-click="accept()" ng-if="research.status=='pending'" class="btn btn-circle btn-success ">
				<i class="fa fa-check"></i> Батлах </a>
			</a>

			<a ng-click="cancel()" ng-if="research.status=='accepted'" class="btn btn-circle btn-danger ">
				<i class="fa fa-ban"></i> Цуцлах </a>
			</a>
			
			<a ng-click="accept()" ng-if="research.status=='canceled'" class="btn btn-circle btn-success ">
				<i class="fa fa-check"></i> Батлах </a>
			</a>


			<a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen" data-original-title="" title=""></a>
		</div>
	</div>
	<div class="portlet-body">
		<p class="well" ng-bind-html="render_view(research.id)"></p>
	</div>
</div>

<div class="portlet light" ng-show="!loading && research">
	<div class="portlet-title">
		<div class="caption font-green-sharp">
			<i class="icon-speech font-green-sharp"></i>
			<span class="caption-subject"> Нэмэлт мэдээлэл</span>
			<span class="caption-helper"> </span>
		</div>
	</div>
	<div class="portlet-body">
		<table class="table table-striped table-bordered table-advance table-hover">
			<tbody>
			<tr>
				<td class="highlight">
					<div class="success"></div>
					<a href="javascript:;">
					Б-Багц цаг </a>
				</td>
				<td>
					<span class="badge badge-primary">{{research.credit}} </span>
					<span class="caption-helper"> Хэрэглэгч тус бүрт</span>
				</td>
			</tr>

			<tr>
				<td class="highlight">
					<div class="danger"></div>
					<a href="javascript:;">
					Цар хүрээ </a>
				</td>
				<td>
					<span ng-repeat="d in dimensions" ng-if="d.id==research.dimension_id" class="label label-primary">
						<i class="fa fa-square-o"></i> {{d.name}}</i>
					</span>
				</td>
			</tr>

			<tr>
				<td class="highlight">
					<div class="success"></div>
					<a href="javascript:;">
					Төлөв </a>
				</td>
				<td>
					<span ng-if="research.status=='pending'" class="label label-warning">
						<i class="fa fa-eye"></i> Хүлээгдэж буй</i>
					</span>
					<span ng-if="research.status=='accepted'" class="label label-success">
						<i class="fa fa-check"></i> Батлагдсан</i>
					</span>
					<span ng-if="research.status=='canceled'" class="label label-danger">
						<i class="fa fa-exclamation"></i> Цуцлагдсан</i>
					</span>
				</td>
			</tr>

			<tr>
				<td class="highlight">
					<div class="info"></div>
					<a href="javascript:;">
					Илгээсэн хэрэглэгч </a>
				</td>
				<td>
					<a ng-repeat="user in research.users" ng-if="user.id == research.user_id" ui-sref="btime.user({id: user.id})">
					{{user.firstname}} {{user.lastname}}
					</a>
				</td>
			</tr>

			<tr>
				<td class="highlight">
					<div class="success"></div>
					<a href="javascript:;">
					Илгээсэн огноо </a>
				</td>
				<td>
					{{research.send_date | date: 'yyyy-MM-dd'}}
				</td>
			</tr>

			<tr>
				<td class="highlight">
					<div class="warning"></div>
					<a href="javascript:;">
					Судалгааны төрөл </a>
				</td>
				<td>
					<span class="label label-danger">
						{{research.research_type}}
					</span>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="portlet light" ng-show="!loading && research">
	<div class="portlet-title">
		<div class="caption font-green-sharp">
			<i class="icon-speech font-green-sharp"></i>
			<span class="caption-subject"> Дэлгэрэнгүй мэдээлэл</span>
			<span class="caption-helper"> </span>
		</div>
	</div>
	<div class="portlet-body">
		<table class="table table-striped table-hover">
			<tbody>
			<tr ng-repeat="d in research.data">
				<td>{{d.label}}</td>
				<td ng-if="d.type!='file'">{{getValue(d)}}</td>
				<td ng-if="d.type=='file'"><a ng-click="file_download(d.value)">{{d.value}}</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="portlet light" ng-show="!loading && research">
	<div class="portlet-title">
		<div class="caption font-green-sharp">
			<i class="icon-speech font-green-sharp"></i>
			<span class="caption-subject"> Хамтрагчид</span>
			<span class="caption-helper"> </span>
		</div>
	</div>
	<div class="portlet-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Зэрэг</th>
					<th>Овог нэр</th>
					<th>Хярьяалал</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="user in research.users">
				<td>{{user.degree}}</td>
				<td><a ui-sref="btime.user({id: user.id})">{{user.firstname}} {{user.lastname}}</a></td>
				<td>{{user.institute}}</td>
			</tr>
			<tr ng-repeat="user in research.external_users">
				<td>{{user.degree}}</td>
				<td>{{user.firstname}} {{user.firstname}}</td>
				<td>{{user.institute}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="timeline" ng-show="!loading && research">
	<div class="timeline-item" ng-repeat="c in research.comments">
		<div class="timeline-badge">
			<div class="timeline-icon" ng-if="getUserPicture(c.user_id) == 0">
				<i class="icon-user-following font-green-haze"></i>
			</div>
			<img ng-if="getUserPicture(c.user_id) == -1" class="timeline-badge-userpic" src="../../assets/admin/layout4/img/avatar.png">
			<img ng-if="getUserPicture(c.user_id) == 1" class="timeline-badge-userpic" src="../../assets/admin/layout4/img/photo1.jpg">
		</div>
		<div class="timeline-body">
			<div class="timeline-body-arrow">
			</div>
			<div class="timeline-body-head">
				<div class="timeline-body-head-caption">
					<a class="timeline-body-title font-blue-madison" ng-repeat="user in research.users" ng-if="user.id == c.user_id" ui-sref="btime.user({id: user.id})">{{user.firstname}} {{user.lastname}}</a>
					<span class="timeline-body-time font-grey-cascade">{{c.date | date: 'yyyy-MM-dd hh:MM'}}</span>
				</div>
				<div class="timeline-body-head-actions">
					<div class="btn-group">
						<button ng-click="deleteComment(c.id)" class="btn btn-circle green-haze btn-sm" type="button">
						<i class="fa fa-trash"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="timeline-body-content">
				<span class="font-grey-cascade">
				{{c.comment}}
				</span>
			</div>
		</div>
	</div>
	
	<div class="timeline-item">
		<div class="timeline-badge">
			<div class="timeline-icon">
				<i class="icon-docs font-red-intense"></i>
			</div>
		</div>
		<div class="timeline-body">
			<div class="timeline-body-arrow">
			</div>
			<div class="timeline-body-head">
				<div class="timeline-body-head-caption">
					<span class="timeline-body-alerttitle font-green-haze">Серверийн мэдэгдэл</span>
					<span class="timeline-body-time font-grey-cascade">{{research.send_date | date: 'yyyy-MM-dd hh:MM'}}</span>
				</div>
			</div>
			<div class="timeline-body-content">
				<span class="font-grey-cascade">
				Судалгааны ажлийг амжилттай хүлээж авлаа.
				</span>
			</div>
		</div>
	</div>

	<div class="timeline-item">
		<div class="timeline-body light1" ng-class="{'light1': !commenting}">
			<div class="form-group">
				<textarea ng-disabled="commenting" ng-model="comment" class="form-control" placeholder="сэтгэгдэл..."></textarea>
			</div>
			<div class="form-group">
				<button ng-disabled="commenting" ng-click="commentSubmit()" class="btn btn-default pull-right"><i class="fa fa-comment"></i> Илгээх</button>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.light1 {
		background-color: #fff !important;
	}
</style>

<script type="text/ng-template" id="CancelResearchContent.html">
	<div class="modal-header">
		<h3 class="modal-title">Судалгааны ажлийг цуцлах</h3>
	</div>
	<div class="modal-body">
		<form name="from" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<textarea name="comment" ng-model="comment" class="form-control" placeholder="Шалтгаан..." required></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="comment.length == 0" class="btn btn-danger" type="button" ng-click="ok()">Цуцлах</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>
