﻿
<div>

    <form ng-submit="login()" ng-controller="LoginController">
        Email: <input type="text" ng-model="username" name="username" /><br/>
        Password: <input type="text" ng-model="password" name="password" /><br />       
        <input type="submit" name="Submit" value="Нэвтрэх" /> 
    </form>
    <button ng-click="logout()">Гарах</button>

</div>