﻿
<div>

    <form ng-submit="register()" ng-controller="RegisterController">
        Email: <input type="text" ng-model="Email" name="Email"/><br/>
        Password: <input type="text" ng-model="Password" name="Password" /><br />
        Confirm password: <input type="text" ng-model="ConfirmPassword" name="ConfirmPassword" /><br />
        <input type="submit" name="Submit" value="Бүртгүүлэх" />
    </form>
    {{ projectMessage }}
    
</div>