<div ng-if="loading" class="portlet light">
	<div class="portlet-body text-center text-info">
		[ Ачаалж байна... ]
	</div>
</div>

<div class="portlet light bordered" ng-show="!loading">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase">{{root.name}}</span>
        </div>
        <div class="actions">
	        <a class="btn btn-circle btn-default" ui-sref="btime.admin.conferences">
                <i class="fa fa-share"></i> Буцах
            </a>
            <a class="btn btn-circle btn-primary" ng-click="add()">
                <i class="fa fa-plus"></i> Бүртгэх
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Нэр </th>
                    <th> Тайлбар </th>
                    <th> Огноо </th>
                    <th style="width: 200px"> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="conference in conferences">
                    <td> {{$index + 1}} </td>
                    <td> {{conference.name}} </td>
                    <td> {{conference.description}} </td>
                    <td> {{conference.date | date: 'yyyy-MM-dd'}} </td>
                    <td style="width: 200px">
                        <a class="label label-sm label-danger" ng-click="del(conference.id)"><i class="fa fa-trash"></i> Устгах</a>
                        <a class="label label-sm label-success" ng-click="edit(conference.id)"><i class="fa fa-edit"></i> Засах</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="portlet light bordered" ng-show="!loading">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase">{{root.name}}</span>
            <span class="caption-helper">өөр нэршлүүд</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-primary" ng-click="add_names()">
                <i class="fa fa-plus"></i> Бүртгэх
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Нэр </th>
                    <th style="width: 200px"> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="name in names">
                    <td> {{$index + 1}} </td>
                    <td> {{name.name}} </td>
                    <td style="width: 200px">
                        <a class="label label-sm label-danger" ng-click="del_names(name.id)"><i class="fa fa-trash"></i> Устгах</a>
                        <a class="label label-sm label-success" ng-click="edit_names(name.id)"><i class="fa fa-edit"></i> Засах</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="manageConferenceContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.id ? 'Эрдэм шинжилгээний хурал засах' : 'Эрдэм шинжилгээний хурал нэмэх'}}</h3>
	</div>
	<div class="modal-body">
		<form name="form" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<label for="name">Хурлын нэр</label>
					<input name="name" ng-model="data.name" type="text" class="form-control" placeholder="" required>
					<span class="help-block help-block-error text-danger" ng-show="form.name.$dirty && form.name.$invalid">Энэ талбар хоосон байж болохгүй!</span>
				</div>

				<div class="form-group">
					<label for="name">Огноо</label>
		            <input type="date" class="form-control" ng-model="data.date" ng-required="true" close-text="Хаах" />
				</div>

				<div class="form-group">
					<label for="description">Хурлын тайлбар</label>
					<textarea name="description" ng-model="data.description" class="form-control" rows="5"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="form.$invalid" class="btn btn-primary" type="button" ng-click="ok()">Хадгалах</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>

<script type="text/ng-template" id="manageNamesContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.id ? 'Хурлын өөр нэршил засах' : 'Хурлын өөр нэршил нэмэх'}}</h3>
	</div>
	<div class="modal-body">
		<form name="form1" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<label for="name">Нэр</label>
					<input name="name" ng-model="data.name" type="text" class="form-control" placeholder="" required>
					<span class="help-block help-block-error text-danger" ng-show="form1.name.$dirty && form1.name.$invalid">Энэ талбар хоосон байж болохгүй!</span>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="form1.$invalid" class="btn btn-primary" type="button" ng-click="ok()">Хадгалах</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>