<div class="row profile">
	<div class="col-md-12">
		<div class="tabbable tabbable-custom tabbable-noborder">
			<ul class="nav nav-tabs">
				<li ng-class="{'active': tab==1}">
					<a ng-click="tab = 1">Миний тухай</a>
				</li>
				<li ng-class="{'active': tab==2}">
					<a ng-click="tab = 2">Гүйцэтгэл</a>
				</li>
				<li ng-class="{'active': tab==3}">
					<a ng-click="tab = 3">Тохиргоо</a>
				</li>
			</ul>
			<div class="tab-content">
				<div ng-show="tab==1" class="tab-pane active">
					<div class="row">
						<div class="col-md-3">
							<ul class="list-unstyled profile-nav">
								<li>
									<img src="../../assets/admin/pages/media/profile/profile-img.png" class="img-responsive" alt="">
									<a href="javascript:;" class="profile-edit"> edit </a>
								</li>
								<li>
									<a href="javascript:;">А Багц цаг <span> {{info.credit_a}} | {{info.credit_a1}} </span></a>
								</li>
								<li>
									<a href="javascript:;">Б Багц цаг <span> {{getCredit()}} | {{getMax()}} </span></a>
								</li>
								<li>
									<a href="javascript:;">В Багц цаг <span> {{info.credit_c}} | {{info.credit_c}} </span></a>
								</li>
							</ul>

							<div class="note note-info" style="padding-right: 10px;" ng-repeat="d in degree_history">
                                <h5 style="padding:0" class="block">{{d.degree.name}} | {{d.description}}</h5>
                                <p class="pull-right label label-default"> {{d.date | date: 'yyyy-MM-dd'}} </p>
                            </div>
							
                            <hr/>

                            <div class="note note-info" style="padding-right: 10px;" ng-repeat="r in rank_history">
                                <h5 style="padding:0" class="block">{{r.rank.name}}</h5>
                                <p class="pull-right label label-default"> {{r.year}} оны {{r.semister}}-р улирал </p>
                            </div>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-12 profile-info">
									<a hreg="javascript:;"><h2>{{info.firstname}} {{info.lastname}}</h2></a>
									<h3>Монгол Улсын Их Сургууль</h3>
									<p>
										{{'- ' + info.school.name}}
									</p>
									<p>
										{{'- ' + info.faculty.name}}
									</p>
									<p>
										{{'- ' + degree_history[0].degree.name + ', ' + rank_history[0].rank.name}}
									</p>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-12">
									<dimension-chart data="dimension_chart_data"></dimension-chart>
								</div>
							</div>
						</div>
						<hr/><hr/>
						<div class="col-sm-12"><div class="col-sm-12" style="border-top:1px solid #eee"><h3> Эрдэм шинжилгээний ажлууд </h3></div></div>
						<div class="col-sm-12">

							<div class="tabbable tabbable-custom tabbable-custom-profile">
								<ul class="nav nav-tabs">
									<li ng-class="{'active': subtab==12, '': subtab!=12}">
										<a ng-click="subtab=12">
										Батлагдсан </a>
									</li>
									<li ng-class="{'active': subtab==13, '': subtab!=13}">
										<a ng-click="subtab=13">
										Хүлээгдэж буй </a>
									</li>
									<li ng-class="{'active': subtab==14, '': subtab!=14}">
										<a ng-click="subtab=14">
										Цуцлагдсан </a>
									</li>

									<li ng-class="{'active': subtab==11, '': subtab!=11}">
										<a ng-click="subtab=11">
										Шинээр батлагдсан <span ng-show="cnt11>0" class="badge badge-danger"> {{cnt11}} </span> </a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane" ng-class="{'active': subtab==11, '': subtab!=11}">
										<div class="portlet light" ng-repeat="research in researches" ng-if="research.status=='accepted'">
											<div class="portlet-title">
												<div class="caption font-green-sharp">
													<i class="icon-speech font-green-sharp"></i>
													<span class="caption-subject"> {{research.group_number}}</span>
													<span class="caption-helper"> {{research.group_name}}</span>
												</div>
												<div class="actions">
													<span class="label label-primary" ng-repeat="d in dimensions" ng-if="research.dimension_id==d.id">
													<i class="fa fa-square-o"></i> {{d.name}}</i>
													</span> &nbsp
													<a ui-sref="btime.my.research({id: research.research_id})" class="btn btn-circle btn-default ">
													<i class="fa fa-share-square-o"></i> Дэлгэрэнгүй </a>
													</a>
													<a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen" data-original-title="" title=""></a>
												</div>
											</div>
											<div class="portlet-body">
												<p class="well" ng-bind-html="render_view(research.id)"></p>
											</div>
										</div>
									</div>
									<!--tab-pane-->
									<div class="tab-pane" ng-class="{'active': subtab==12, '': subtab!=12}">
										<div class="portlet light" ng-repeat="research in researches" ng-if="research.status=='confirmed'">
											<div class="portlet-title">
												<div class="caption font-green-sharp">
													<i class="icon-speech font-green-sharp"></i>
													<span class="caption-subject"> {{research.group_number}}</span>
													<span class="caption-helper"> {{research.group_name}}</span>
												</div>
												<div class="actions">
													<span class="label label-primary" ng-repeat="d in dimensions" ng-if="research.dimension_id==d.id">
													<i class="fa fa-square-o"></i> {{d.name}}</i>
													</span> &nbsp
													<a ui-sref="btime.admin.research({id: research.research_id})" class="btn btn-circle btn-default ">
													<i class="fa fa-share-square-o"></i> Дэлгэрэнгүй </a>
													</a>
													<a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen" data-original-title="" title=""></a>
												</div>
											</div>
											<div class="portlet-body">
												<p class="well" ng-bind-html="render_view(research.id)"></p>
											</div>
										</div>
									</div>

									<div class="tab-pane" ng-class="{'active': subtab==13, '': subtab!=13}">
										<div class="portlet light" ng-repeat="research in researches" ng-if="research.status=='pending'">
											<div class="portlet-title">
												<div class="caption font-green-sharp">
													<i class="icon-speech font-green-sharp"></i>
													<span class="caption-subject"> {{research.group_number}}</span>
													<span class="caption-helper"> {{research.group_name}}</span>
												</div>
												<div class="actions">
													<span class="label label-primary" ng-repeat="d in dimensions" ng-if="research.dimension_id==d.id">
													<i class="fa fa-square-o"></i> {{d.name}}</i>
													</span> &nbsp
													<a ui-sref="btime.admin.research({id: research.research_id})" class="btn btn-circle btn-default ">
													<i class="fa fa-share-square-o"></i> Дэлгэрэнгүй </a>
													</a>
													<a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen" data-original-title="" title=""></a>
												</div>
											</div>
											<div class="portlet-body">
												<p class="well" ng-bind-html="render_view(research.id)"></p>
											</div>
										</div>
									</div>

									<div class="tab-pane" ng-class="{'active': subtab==14, '': subtab!=14}">
										<div class="portlet light" ng-repeat="research in researches" ng-if="research.status=='canceled'">
											<div class="portlet-title">
												<div class="caption font-green-sharp">
													<i class="icon-speech font-green-sharp"></i>
													<span class="caption-subject"> {{research.group_number}}</span>
													<span class="caption-helper"> {{research.group_name}}</span>
												</div>
												<div class="actions">
													<span class="label label-primary" ng-repeat="d in dimensions" ng-if="research.dimension_id==d.id">
													<i class="fa fa-square-o"></i> {{d.name}}</i>
													</span> &nbsp
													<a ui-sref="btime.admin.research({id: research.research_id})" class="btn btn-circle btn-default ">
													<i class="fa fa-share-square-o"></i> Дэлгэрэнгүй </a>
													</a>
													<a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen" data-original-title="" title=""></a>
												</div>
											</div>
											<div class="portlet-body">
												<p class="well" ng-bind-html="render_view(research.id)"></p>
											</div>
										</div>
									</div>
									<!--tab-pane-->
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div ng-show="tab==3" class="tab-pane active">
					<div class="row profile-account">
						<div class="col-md-3">
							<ul class="ver-inline-menu tabbable margin-bottom-10">
								<li class="active">
									<a data-toggle="tab" href="#tab_1-1" aria-expanded="false">
									<i class="fa fa-cog"></i> Personal info </a>
									<span class="after">
									</span>
								</li>
								<li>
									<a data-toggle="tab" href="#tab_2-2" aria-expanded="false">
									<i class="fa fa-picture-o"></i> Change Avatar </a>
								</li>
								<li>
									<a data-toggle="tab" href="#tab_3-3" aria-expanded="false">
									<i class="fa fa-lock"></i> Change Password </a>
								</li>
								<li>
									<a data-toggle="tab" href="#tab_4-4" aria-expanded="false">
									<i class="fa fa-eye"></i> Privacity Settings </a>
								</li>
							</ul>
						</div>
						<div class="col-md-9">
							<div class="tab-content">
								<div id="tab_1-1" class="tab-pane active">
									<form role="form" action="#">
										<div class="form-group">
											<label class="control-label">First Name</label>
											<input type="text" placeholder="John" class="form-control">
										</div>
										<div class="form-group">
											<label class="control-label">Last Name</label>
											<input type="text" placeholder="Doe" class="form-control">
										</div>
										<div class="form-group">
											<label class="control-label">Mobile Number</label>
											<input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control">
										</div>
										<div class="form-group">
											<label class="control-label">Interests</label>
											<input type="text" placeholder="Design, Web etc." class="form-control">
										</div>
										<div class="form-group">
											<label class="control-label">Occupation</label>
											<input type="text" placeholder="Web Developer" class="form-control">
										</div>
										<div class="form-group">
											<label class="control-label">About</label>
											<textarea class="form-control" rows="3" placeholder="We are KeenThemes!!!"></textarea>
										</div>
										<div class="form-group">
											<label class="control-label">Website Url</label>
											<input type="text" placeholder="http://www.mywebsite.com" class="form-control">
										</div>
										<div class="margiv-top-10">
											<a href="javascript:;" class="btn green">
											Save Changes </a>
											<a href="javascript:;" class="btn default">
											Cancel </a>
										</div>
									</form>
								</div>
								<div id="tab_2-2" class="tab-pane">
									<p>
										 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
									</p>
									<form action="#" role="form">
										<div class="form-group">
											<div class="fileinput fileinput-new" data-provides="fileinput">
												<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
													<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
												</div>
												<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
												</div>
												<div>
													<span class="btn default btn-file">
													<span class="fileinput-new">
													Select image </span>
													<span class="fileinput-exists">
													Change </span>
													<input type="file" name="...">
													</span>
													<a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput">
													Remove </a>
												</div>
											</div>
											<div class="clearfix margin-top-10">
												<span class="label label-danger">
												NOTE! </span>
												<span>
												Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
											</div>
										</div>
										<div class="margin-top-10">
											<a href="javascript:;" class="btn green">
											Submit </a>
											<a href="javascript:;" class="btn default">
											Cancel </a>
										</div>
									</form>
								</div>
								<div id="tab_3-3" class="tab-pane">
									<form action="#">
										<div class="form-group">
											<label class="control-label">Current Password</label>
											<input type="password" class="form-control">
										</div>
										<div class="form-group">
											<label class="control-label">New Password</label>
											<input type="password" class="form-control">
										</div>
										<div class="form-group">
											<label class="control-label">Re-type New Password</label>
											<input type="password" class="form-control">
										</div>
										<div class="margin-top-10">
											<a href="javascript:;" class="btn green">
											Change Password </a>
											<a href="javascript:;" class="btn default">
											Cancel </a>
										</div>
									</form>
								</div>
								<div id="tab_4-4" class="tab-pane">
									<form action="#">
										<table class="table table-bordered table-striped">
										<tbody><tr>
											<td>
												 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..
											</td>
											<td>
												<label class="uniform-inline">
												<div class="radio"><span><input type="radio" name="optionsRadios1" value="option1"></span></div>
												Yes </label>
												<label class="uniform-inline">
												<div class="radio"><span class="checked"><input type="radio" name="optionsRadios1" value="option2" checked=""></span></div>
												No </label>
											</td>
										</tr>
										<tr>
											<td>
												 Enim eiusmod high life accusamus terry richardson ad squid wolf moon
											</td>
											<td>
												<label class="uniform-inline">
												<div class="checker"><span><input type="checkbox" value=""></span></div> Yes </label>
											</td>
										</tr>
										<tr>
											<td>
												 Enim eiusmod high life accusamus terry richardson ad squid wolf moon
											</td>
											<td>
												<label class="uniform-inline">
												<div class="checker"><span><input type="checkbox" value=""></span></div> Yes </label>
											</td>
										</tr>
										<tr>
											<td>
												 Enim eiusmod high life accusamus terry richardson ad squid wolf moon
											</td>
											<td>
												<label class="uniform-inline">
												<div class="checker"><span><input type="checkbox" value=""></span></div> Yes </label>
											</td>
										</tr>
										</tbody></table>
										<!--end profile-settings-->
										<div class="margin-top-10">
											<a href="javascript:;" class="btn green">
											Save Changes </a>
											<a href="javascript:;" class="btn default">
											Cancel </a>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!--end col-md-9-->
					</div>
				</div>

				<div ng-show="tab==2" class="tab-pane active">
					<table class="table table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Улирал </th>
                                <th> Цуглуулсан </th>
                                <th> Цуглуулвал зохих </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{'success': l.credit_b >= l.credit_b1, 'warning': l.credit_b < l.credit_b1}" ng-repeat="l in list">
                                <td> {{$index + 1}} </td>
                                <td> {{l.year}}-{{l.year + 1}} оны хичээлийн жил, {{l.semister}}-р улирал </td>
                                <td> <strong>{{l.credit_b}}</strong> (Б-Багц цаг) </td>
                                <td> <strong>{{l.credit_b1}}</strong> (Б-Багц цаг) </td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</div>
</div>