
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Илэрц</span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="table_{{id}}">
                    <thead>
                        <tr>
                            <th> Дугаар </th>
                            <th> Бүлэг </th>
                            <th> Судалгааны төрөл </th>
                            <th> Цар хүрээ </th>
                            <th> Судалгааны ангилал </th>
                            <th> Сэтгүүл / хурал </th>
                            <th> Нэр </th>
                            <th> Огноо </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>