<ul class="page-breadcrumb breadcrumb">
	<li class="active">
		<span style="cursor: pointer">Үндсэн мэдээлэл</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer" class="text-primary">Элементүүд</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer">Дүрэм</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer">Харагдац</span>
	</li>
</ul>

<div ng-if="note && note.body != '' " class="note note-info note-bordered">
	<h4>{{note.title}}<span class="close" data-close="note"></span></h4>
	<p>
		{{note.body}}
	</p>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-terminal font-green-sharp"></i>
					<span class="caption-subject"> Формын элементүүд</span>

				</div>
				<button class="btn btn-primary pull-right" ng-click="add()"><i class="fa fa-plus"></i> Нэмэх</button>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-advance table-hover">
					<thead>
						<tr>
							<th>Нэр</th>
							<th>Тайлбар</th>
							<th>Төрөл</th>
							<th>Нууцлал</th>
							<th>Шалгуур</th>
							<th style="max-width: 100px; width: 100px;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="elem in form.elements">
							<td>{{elem.label}}</td>
							<td>{{elem.description}}</td>
							<td>{{typeConvert(elem.type)}}</td>
							<td class="text-primary"><i ng-if="elem.permission==0" tooltip="public" class="fa fa-circle-thin"></i> <i  ng-if="elem.permission==1" tooltip="private" class="fa fa-circle"></i></td>
							<td>
								<span ng-repeat="v in elem.validators" ng-class="{'text-danger': v.name=='required', 'text-primary': v.name=='float'}">
									<i tooltip="Заавал бөглөх" class="fa fa-star-o" ng-if="v.name=='required'"></i>
									<i tooltip="Тоо (бүхэл, бодит)"class="fa fa-sort-numeric-asc" ng-if="v.name=='float'"></i>
								</span>
							</td>
							<td ng-if="elem.static_type==0">
								<a tooltip="Засах" href="javascript:;" ng-click="edit(elem.id)" class="btn default btn-xs">
								<i class="fa fa-edit"></i> </a>
								<a tooltip="Устгах" href="javascript:;" ng-click="del(elem.id)" class="btn default btn-xs red">
								<i class="fa fa-trash"></i> </a>
							</td>
							<td ng-if="elem.static_type!=0">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="portlet-footer">
				<hr>
				<a href="#/btime/form_rule/{{id}}" class="btn btn-circle btn-default blue pull-right">Дараах</a>
				<a href="#/btime/form_back/{{id}}" class="btn btn-circle btn-default">Буцах</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-terminal font-green-sharp"></i>
					<span class="caption-subject"> Формын харагдац</span>
				</div>
			</div>
			
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
					<div class="form-actions top">
						<h3>{{form.title}}</h3>
						<p>{{form.description}}</p>
					</div>
					<div class="form-body">

						<div class="form-group" ng-repeat="elem in form.elements">
							<label class="col-md-3 control-label">{{elem.label}}</label>
							<div class="col-md-6">
								<span ng-if="elem.type=='search' && elem.static_type=='1'">
									<angucomplete-alt id="journal"
									  placeholder="Хайх"
									  pause="400"
									  remote-url="{{serverUrl}}/api/journal/find?v="
									  remote-url-data-field="res"
									  title-field="name"
									  description-field="date"
									  minlength="2"
									  selected-object="selectJournal"
									  input-class="form-control"/>
								</span>
								<span ng-if="elem.type=='search' && elem.static_type=='2'">
									<angucomplete-alt ng-if="elem.static_type=='2'" id="conference"
									  placeholder="Хайх"
									  pause="400"
									  remote-url="{{serverUrl}}/api/journal/find?v="
									  remote-url-data-field="res"
									  title-field="name"
									  description-field="date"
									  minlength="2"
									  selected-object="selectConference"
									  input-class="form-control"/>
								</span>
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'text'" type="text" class="form-control" placeholder="">
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'number'" type="number" class="form-control" placeholder="">
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'file'" type="file" class="form-control" placeholder="">
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'date'" class="form-control form-control-inline" type="text" value=""/>
								
								<select ng-repeat="sel in selections" ng-if="sel.id == elem.selection_id && elem.type == 'select'" ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" class="form-control">
									<option ng-repeat="opt in sel.options" value="{{opt.id}}">{{opt.name}}</option>									
								</select>
								
								<textarea ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'textarea'" type="text" class="form-control" placeholder=""></textarea>
								
								<span class="help-block"> {{elem.description}} </span>
								<span ng-repeat="error in elem.errors" class="help-block text-danger">{{error}}</span>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button disabled type="button" class="btn btn-circle blue">Илгээх</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



<script type="text/ng-template" id="manageElementContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.id ? 'Элемент засах' : 'Элемент нэмэх'}}</h3>
	</div>
	<div class="modal-body">
		<form name="elementManageForm" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<label for="label">Элементийн нэр</label>
					<input name="label" ng-model="data.label" type="text" class="form-control" placeholder="" required>
					<span class="help-block help-block-error text-danger" ng-show="elementManageForm.label.$dirty && elementManageForm.label.$invalid">Энэ талбар хоосон байж болохгүй!</span>
				</div>

				<div class="form-group">
					<label for="label">Элементийн нэр</label>
					<textarea name="description" ng-model="data.description" type="text" class="form-control" placeholder=""></textarea>
				</div>

				<div class="row">
					<div class="col-sm-6"
						<label for="type">Төрөл</label>
						<select class="form-control" ng-model="data.type" required>
							<option ng-selected="data.type=='text'" value="text">Текст</option>
							<option ng-selected="data.type=='textarea'" value="textarea">Текст (том)</option>
							<option ng-selected="data.type=='number'" value="number">Тоо (бүхэл, бодит)</option>
							<option ng-selected="data.type=='file'" value="file">Файл</option>
							<option ng-selected="data.type=='date'" value="date">Огноо</option>
							<option ng-selected="data.type=='select'" value="select">Сонгох</option>
						</select>
					</div>

					<div class="col-sm-6"
						<label for="type">Нууцлал</label>
						<select class="form-control" ng-model="data.permission" required>
							<option ng-selected="data.permission==0" value="0">Public</option>
							<option ng-selected="data.permission==1" value="1">Private</option>
						</select>
					</div>
				</div>

						
				<div class="form-group" style="margin-top: 15px;">
					<div class="col-sm-6>">
						<label>
							<input ng-model="data.required" type="checkbox"> Заавал бөглөх
						</label>
					</div>
				</div>

				<div ng-if="data.type=='select'" class="form-group">
					<label for="type">Сонголт</label>
					<select ng-model="data.selection_id" ng-options="c.id as c.name for c in selections" ng-selected="c.id == data.selection_id" class="form-control"></select>
				</div>
				
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="elementManageForm.$invalid" class="btn btn-primary" type="button" ng-click="ok()">Үргэлжлүүлэх</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Өмнөх</button>
	</div>
</script>
