
<ul class="page-breadcrumb breadcrumb">
	<li class="active">
		<span style="cursor: pointer" class="text-primary">Үндсэн мэдээлэл</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer">Элементүүд</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer">Дүрэм</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer">Харагдац</span>
	</li>
</ul>

<div ng-if="note && note.body != '' " class="note note-bordered note-info">
	<h4>{{note.title}}<span class="close" data-close="note"></span></h4>
	<p>
		{{note.body}}
	</p>
	<ul>
		<li ng-repeat="hint in note.hints">{{hint}}</li>
	</ul>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-terminal font-green-sharp"></i>
					<span class="caption-subject"> Формын үндсэн мэдээлэл</span>
				</div>
			</div>
			
			<div class="portlet-body form">
				<form name="create" class="form-horizontal" novalidate>
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">Формын нэр</label>
							<div class="col-md-6">
								<input name="name" class="form-control" ng-model="form.title" type="text" required/>
								<span class="help-block help-block-error text-danger" ng-show="create.name.$dirty && create.name.$invalid">Энэ талбар хоосон байж болохгүй!</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Б-Багц цаг</label>
							<div class="col-md-6">
								<input name="credit" class="form-control" ng-model="form.credit" type="number" required/>
								<span class="help-block help-block-error text-danger" ng-show="create.credit.$dirty && create.credit.$invalid">Энэ талбар хоосон байж болохгүй!</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Тайлбар</label>
							<div class="col-md-6">
								<textarea class="form-control" ng-model="form.description"></textarea> 
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Судалгааны төрөл</label>
							<div class="col-md-6">
								<select class="form-control" ng-model="form.form_type">
									<option value="0">Эрдэм шинжилгээний сэтгүүл</option>
									<option value="1">Эрдэм шинжилгээний хурал</option>
									<option value="2">Төсөл хөтөлбөр</option>
									<option value="3">Ном, сурах бичиг</option>
									<option value="4">Оюуны өмчийн бүтээл</option>
									<option selected value="5">Бусад</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Хамрах хүрээ</label>
							<div class="col-md-6">
								<select ng-model="form.dimension_id" ng-options="c.id as c.name for c in dimensions" ng-selected="c.id == form.dimension_id" name="dimension" id="dimension" class="form-control"></select>
							</div>
						</div>

						<div class="form-group last">
							<label class="col-md-3 control-label">Профессорын оноо</label>
							<div class="col-md-6">
								<input name="ph_score" class="form-control" ng-model="form.ph_score" type="number" required/>
								<span class="help-block help-block-error text-danger" ng-show="create.ph_score.$dirty && create.ph_score.$invalid">Энэ талбар хоосон байж болохгүй!</span>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button ng-disabled="create.$invalid" ng-click="submit()" type="button" class="btn btn-circle blue pull-right">Үргэлжлүүлэх</button>
								<a href="#/btime/group/{{group_id}}" class="btn btn-circle btn-default">Өмнөх</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
