<ul class="page-breadcrumb breadcrumb">
	<li class="active">
		<span style="cursor: pointer">Үндсэн мэдээлэл</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer">Элементүүд</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer" class="text-primary">Дүрэм</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer">Харагдац</span>
	</li>
</ul>

<div ng-if="note && note.body != '' " class="note note-info note-bordered">
	<h4>{{note.title}}<span class="close" data-close="note"></span></h4>
	<p>
		{{note.body}}
	</p>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-terminal font-green-sharp"></i>
					<span class="caption-subject"> Формын дүрмүүд</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="note note-info note-bordered">
					<h4>Зохиогийн тоогоор<span class="close" data-close="note"></span></h4>
					<p>
						Зохиогчийн тооноос хамаарч ажлийн Б-Багц цаг хувьсдаг ажлуудыг энэ дүрмээр зохицуулна.
					</p>
				</div>
				<table class="table table-striped table-bordered table-advance table-hover">
					<thead>
						<tr>
							<th>Зохиогчийн тоо</th>
							<th>Хувь</th>
							<th style="max-width: 100px; width: 100px;"><button class="btn btn-xs btn-primary" ng-click="addA()"><i class="fa fa-plus"></i> Нэмэх</button></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in A">
							<td ng-if="item.max>100">{{item.min}}-c их</td>
							<td ng-if="item.max<=100 && item.min < item.max">[{{item.min}}-{{item.max}}]</td>
							<td ng-if="item.max<=100 && item.min == item.max">[{{item.min}}]</td>
							<td>{{item.percent}}%</td>

							<td>
								<a tooltip="Засах" href="javascript:;" ng-click="editA(item.id)" class="btn default btn-xs">
								<i class="fa fa-edit"></i> </a>
								<a tooltip="Устгах" href="javascript:;" ng-click="delA(item.id)" class="btn default btn-xs red">
								<i class="fa fa-trash"></i> </a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="note note-info note-bordered">
					<h4>Үржүүлэгч элемент<span class="close" data-close="note"></span></h4>
					<p>
						Судлаачийн форм дээр (тоон төрлийн талбарт) оруулсан утгаас хамаарч Б-Багц цаг нь бодогддог бол энэ дүрмээд зохицуулна.
					</p>
				</div>
				<table class="table table-striped table-bordered table-advance table-hover">
					<thead>
						<tr>
							<th>Элементийн нэр</th>
							<th style="max-width: 100px; width: 100px;"><button class="btn btn-xs btn-primary" ng-click="addM()"><i class="fa fa-plus"></i> Нэмэх</button></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in M">
							<td>{{findLabel(item.element_id)}}</td>
							<td>
								<a tooltip="Засах" href="javascript:;" ng-click="editM(item.id)" class="btn default btn-xs">
								<i class="fa fa-edit"></i> </a>
								<a tooltip="Устгах" href="javascript:;" ng-click="delM(item.id)" class="btn default btn-xs red">
								<i class="fa fa-trash"></i> </a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="note note-info note-bordered">
					<h4>Хуваагч тоо элемент<span class="close" data-close="note"></span></h4>
					<p>
						Үүнийг юу гэж тайлбарлах вэ?
					</p>
				</div>
				<table class="table table-striped table-bordered table-advance table-hover">
					<thead>
						<tr>
							<th>Утга</th>
							<th style="max-width: 100px; width: 100px;"><button class="btn btn-xs btn-primary" ng-click="addD()"><i class="fa fa-plus"></i> Нэмэх</button></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in D">
							<td>{{item.value}}</td>
							<td>
								<a tooltip="Засах" href="javascript:;" ng-click="editD(item.id)" class="btn default btn-xs">
								<i class="fa fa-edit"></i> </a>
								<a tooltip="Устгах" href="javascript:;" ng-click="delD(item.id)" class="btn default btn-xs red">
								<i class="fa fa-trash"></i> </a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="portlet-footer">
				<hr>
				<a href="#/btime/form_view/{{id}}" class="btn btn-circle btn-default blue pull-right">Үргэлжлүүлэх</a>
				<a href="#/btime/form_element/{{id}}" class="btn btn-circle btn-default">Өмнөх</a>
			</div>
		</div>
	</div>
</div>


<script type="text/ng-template" id="manageRuleAContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.id ? 'Дүрэм засах' : 'Дүрэм нэмэх'}}</h3>
	</div>
	<div class="modal-body">
		<form name="formA" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<label for="label">Зохиогчийн тоо</label>
					<div class="form-inline">
						<div class="form-group" ng-class="{'has-error': formA.min.$dirty && formA.min.$invalid}">
							<input name="min" ng-model="data.min" type="number" class="form-control" placeholder="Бага" required>
						</div> - 
						<div class="form-group">
							<input name="max" ng-model="data.max" type="number" class="form-control" placeholder="Их">
						</div>
					</div>
				</div>

				<div class="form-group" ng-class="{'has-error': formA.percent.$dirty && formA.percent.$invalid}">
					<label for="label">Хувь</label>
					<input name="percent" ng-model="data.percent" type="number" class="form-control" placeholder="" required>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="formA.$invalid" class="btn btn-primary" type="button" ng-click="ok()">Хадгалах</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>

<script type="text/ng-template" id="manageRuleMContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.id ? 'Дүрэм засах' : 'Дүрэм нэмэх'}}</h3>
	</div>
	<div class="modal-body">
		<form name="formM" role="form" novalidate>
			<div class="form-body">
				<div class="form-group">
					<label for="label">Элементүүд</label>
					<select ng-model="data.element_id" ng-options="c.id as c.label for c in elements" ng-selected="c.id == data.element_id" name="element" id="element" class="form-control" required></select>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="formM.$invalid" class="btn btn-primary" type="button" ng-click="ok()">Хадгалах</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>

<script type="text/ng-template" id="manageRuleDContent.html">
	<div class="modal-header">
		<h3 class="modal-title">{{data.id ? 'Дүрэм засах' : 'Дүрэм нэмэх'}}</h3>
	</div>
	<div class="modal-body">
		<form name="formD" role="form" novalidate>
			<div class="form-body">
				<div class="form-group" ng-class="{'has-error': formD.percent.$dirty && formD.percent.$invalid}">
					<label for="label">Утга</label>
					<input name="percent" ng-model="data.value" type="number" class="form-control" placeholder="" required>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-disabled="formD.$invalid" class="btn btn-primary" type="button" ng-click="ok()">Хадгалах</button>
		<button class="btn btn-defailt" type="button" ng-click="cancel()">Буцах</button>
	</div>
</script>