<ul class="page-breadcrumb breadcrumb">
	<li class="active">
		<span style="cursor: pointer">Үндсэн мэдээлэл</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer">Элементүүд</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer">Дүрэм</span>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span style="cursor: pointer" class="text-primary">Харагдац</span>
	</li>
</ul>

<div ng-if="note && note.body != '' " class="note note-info note-bordered">
	<h4>{{note.title}}<span class="close" data-close="note"></span></h4>
	<p>
		{{note.body}}
	</p>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-terminal font-green-sharp"></i>
					<span class="caption-subject"> Формын элементүүд</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="note note-info note-bordered">
					<h4>Харагдац үүсгэх<span class="close" data-close="note"></span></h4>
					<p>
						Харагдац гэдэг нь тухайн форм дээр илгээсэн ажлийг дэлгэцлэх харуулахад, тогтсон нэг форматад оруулахад зориулагдсан.
					</p>
					<p>
						Үүнийг үүсгэхдээ доорх талбар дээр дараах дүрмээд үүсгэнэ үү.
					</p>
					<ul>
						<li>\ Мөр шилжих тэмдэгт</li>
						<li>(ID) Энд бичигдсэн ID-тай элементийн утгыг харуулна.</li>
						<li>{ID} Энд бичсэн ID-тэй элементийн нэргийг харуулна.</li>
						<li>[текст, эсвэл (ID)] энэ хэсгийг <strong>BOLD</strong> хэлбэрээр харуулна.</li>
						<li>[[текст, эсвэл (ID)]] энэ хэсгийг <em>ITALIC</em> хэлбэрээр харуулна.</li>
						<li>*** бичсэн газар эзэн (эзэд) ийн нэрсийг жагсаана.</li>
					</ul>

					<p>
						<strong>Жишээлбэл:</strong><br />
						<table class="table table-bordered table-advance table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Нэр</th>
									<th>Төрөл</th>
									<th>Утга</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="elem in elems">
									<td>{{elem.id}}</td>
									<td>{{elem.label}}</td>
									<td>{{typeConvert(elem.type)}}</td>
									<td>{{elem.val}}</td>
								</tr>
							</tbody>
						</table>
						<hr />
						<div class="portlet light">
							<div class="portlet-body">
								<h3>{{example}}</h3>
								<hr/>
								<p class="well" ng-bind-html="convert(example)"></p>
							</div>
						</div>
					</p>
				</div>

				<table class="table table-striped table-bordered table-advance table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Нэр</th>
							<th>Төрөл</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="elem in form.elements">
							<td>{{elem.id}}</td>
							<td>{{elem.label}}</td>
							<td>{{typeConvert(elem.type)}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-terminal font-green-sharp"></i>
					<span class="caption-subject"> Формын харуулах дүрэм</span>
				</div>
			</div>
			<div class="portlet-body">
				
				<div class="form-group">
					<textarea class="form-control" ng-model="form.view" style="height: 200px;"></textarea>
				</div>
				<hr/>
				<div class="form-group well" ng-bind-html="render()"></div>
			</div>
			<div class="portlet-footer">
				<hr>
				<a href="javascript:void(0)" ng-click="save()" class="btn btn-circle btn-success pull-right">Дуусгах</a>
				&nbsp
				<a href="javascript:void(0)" ng-click="submit()" class="btn btn-circle blue pull-right" style="margin-right: 10px;">Хадгалах</a> &nbsp &nbsp
				<a href="#/btime/form_rule/{{id}}" class="btn btn-circle btn-default">Өмнөх</a>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-sm-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-terminal font-green-sharp"></i>
					<span class="caption-subject"> Формын харагдац</span>
				</div>
			</div>
			
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
					<div class="form-actions top">
						<h3>{{form.title}}</h3>
						<p>{{form.description}}</p>
					</div>
					<div class="form-body">

						<div class="form-group" ng-repeat="elem in form.elements">
							<label class="col-md-3 control-label">{{elem.label}}</label>
							<div class="col-md-6">
								<span ng-if="elem.type=='search' && elem.static_type=='1'">
									<angucomplete-alt id="journal"
									  placeholder="Хайх"
									  pause="400"
									  remote-url="{{serverUrl}}/api/journal/find?v="
									  remote-url-data-field="res"
									  title-field="name"
									  description-field="date"
									  minlength="2"
									  selected-object="selectJournal"
									  input-class="form-control"/>
								</span>
								<span ng-if="elem.type=='search' && elem.static_type=='2'">
									<angucomplete-alt ng-if="elem.static_type=='2'" id="conference"
									  placeholder="Хайх"
									  pause="400"
									  remote-url="{{serverUrl}}/api/journal/find?v="
									  remote-url-data-field="res"
									  title-field="name"
									  description-field="date"
									  minlength="2"
									  selected-object="selectConference"
									  input-class="form-control"/>
								</span>
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'text'" type="text" class="form-control" placeholder="">
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'number'" type="number" class="form-control" placeholder="">
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'file'" type="file" class="form-control" placeholder="">
								
								<input ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'date'" class="form-control form-control-inline" type="text" value=""/>
								
								<select ng-repeat="sel in selections" ng-if="sel.id == elem.selection_id && elem.type == 'select'" ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" class="form-control">
									<option ng-repeat="opt in sel.options" value="{{opt.id}}">{{opt.name}}</option>									
								</select>
								
								<textarea ng-model="elem.value" ng-change="changed(elem.id)" id="elem_{{elem.id}}" ng-if="elem.type == 'textarea'" type="text" class="form-control" placeholder=""></textarea>
								
								<span class="help-block"> {{elem.description}} </span>
								<span ng-repeat="error in elem.errors" class="help-block text-danger">{{error}}</span>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button disabled type="button" class="btn btn-circle blue">Илгээх</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

