﻿<div class="alert alert-danger" ng-show="error.is">
    <strong>Error!</strong> {{ error.message }}
</div>
<div class="alert alert-warning" ng-show="warning.is">
    <strong>Warning!</strong> {{ warning.message }}
</div>
<div class="alert alert-info" ng-show="warning.is">
    <strong>Warning!</strong> {{ warning.message }}
</div>

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">jQuery Plugins</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Custom Dropdowns
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-"></i>{{ formTitle }}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" ng-click="fnReload()" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form ng-submit="register()" class="form-horizontal form-row-sepe" name="postForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Гарчиг</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-minlength=5 ng-maxlength=50 maxlength="50" name="Title" ng-model="post.Title" required />
                                <p class="help-block">
                                    <div class="alert alert-danger" ng-show="postForm.Title.$invalid && postForm.Title.$touched">
                                        <small ng-show="postForm.Title.$error.required">Please input a username</small>
                                        <small ng-show="postForm.Title.$error.minlength">Your username is required to be at least 3 characters</small>
                                        <small ng-show="postForm.Title.$error.maxlength">Your username cannot be longer than 20 characters</small>
                                    </div>
                                </p>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Хугацаа</label>
                            <div class="col-md-6">
                                <div class="input-group input-large date-picker input-daterange" data-date="2015-08-06" data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control" name="sDate" readonly ng-model="post.sDate" required/>
                                    <span class="input-group-addon">
                                        хүртэл
                                    </span>
                                    <input type="text" class="form-control" name="eDate" readonly ng-model="post.eDate" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Агуулга</label>
                            <div class="col-md-6">
                                <textarea class="form-control" maxlength="50" name="post.content" rows="10" ng-model="content" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Шошго</label>
                            <div class="col-md-6">
                                <input type="hidden" id="input_tags" class="form-control select2" name="pLabelsString" ng-model="post.tags">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <button type="submit" class="btn blue" ng-disabled="postForm.$invalid"><i class=" fa fa-save"></i> Хадгалах</button>
                                <a class="btn default"  href="#"><i class="fa fa-list"></i> Жагсаалт</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<script>
    ComponentsDropdowns.init(); // init todo page
    ComponentsPickers.init();
</script>